/* sticky footer */
body, .body-bg {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin:0;
  padding:0;
  background-color:#fff;
  font-family: "Exo 2", sans-serif;
}

#page-footer {
    margin-top: auto;
}


.sociallinks-link-icon {
    font-size: 1.25rem;
    text-align: center;
    opacity: 0.8;
    vertical-align: middle;
    color: #fff;
}

/* hiding breadcrumb menu */
#p9 .breadcrumb-section,
#p11 .breadcrumb-section {
    display:none;
}

/* carousel call to action */
@media (min-width: 576px)
.carousel-item-type-call_to_action .carousel-box {
    max-width: 60%;
}

.carousel-item-type-call_to_action .carousel-box {
    background-color: transparent;
    padding: 2rem;
}

.carousel .carousel-item h1, .carousel .carousel-item h2, .carousel .carousel-item h3, .carousel .carousel-item h4, .carousel .carousel-item h5, .carousel .carousel-item h6 {
    color: #fff;
    margin-top: 0;
}
#p1 .carousel-item-bodytext p {
    color:#fff;
    margin-top:1.5rem;
    font-size:1.3rem;
}

/* Footer */
@media (min-width: 576px)
.footer-section-content-column-left, .footer-section-content-column-middle, .footer-section-content-column-right {
    width: calc(100% / 3);
}

#page-footer p {
    font-size:0.7rem;
}

.footer-section-meta .frame {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
}